$colorParts: (
  --h-primary: 0,
  --h-accent: 220,
  --h-secondary-accent: 45,
  --h-success: 120,

  --s-50: 50%,
  --s-75: 75%,
  --s-100: 100%,

  --l-0: 0%,
  --l-50: 50%,
  --l-55: 55%,
  --l-100: 100%
);