@use 'color_parts' as *;

$colors: (
  primary: (
    map-get($colorParts, "--h-primary")
    map-get($colorParts, "--s-100")
    map-get($colorParts, "--l-100")
  ),
  secondary: (
    map-get($colorParts, "--h-primary")
    map-get($colorParts, "--s-100")
    map-get($colorParts, "--l-0")
  ),
  accent: (
    map-get($colorParts, "--h-accent")
    map-get($colorParts, "--s-50")
    map-get($colorParts, "--l-50")
  ),
  secondary-accent: (
    map-get($colorParts, "--h-secondary-accent")
    map-get($colorParts, "--s-100")
    map-get($colorParts, "--l-50")
  ),
  success: (
    map-get($colorParts, "--h-success")
    map-get($colorParts, "--s-50")
    map-get($colorParts, "--l-50")
  ),
  danger: (
    map-get($colorParts, "--h-primary")
    map-get($colorParts, "--s-75")
    map-get($colorParts, "--l-55")
  )
);