@use '../Abstract/main' as *;
@use 'main' as *;
@use '../Errors/errors' as *;

@each $name, $options in $utils {
  @if (test-util-errors($options) == true) {
    $shortcut: map-get($options, shortcut);
    $styles: map-get($options, styles);
  
    @each $property, $values in $styles {
      @each $typeValue, $value in map-get($root, $values) {
        @if (map-has-key($options, requires)) {
          $requires: map-get($options, requires);

          @if (map-get($utils, $requires) == null) {
            $requires: map-get($options, alternative-requires);
          }

          @if (map-get($utils, $requires) == null) {
            @debug $requires;
            @error 'No util in "requires"';
          }

          $requireClassName: 
            map-get(map-get($utils, $requires), shortcut);

          .#{$shortcut}-#{$typeValue}[class|=#{$requireClassName}] {
            #{$property}: $value;
          }
        }
  
        .#{$shortcut}-#{$typeValue} {
          #{$property}: $value;
        }
      }
    }
  }
} 