@use 'sass:map';

@use 'colors' as *;
@use 'hsl-colors-root' as *;
@use '../Components-Temp/color-title.tmp.scss' as *;

$primaryDeg: 75deg;

$color-gradients: ();

@each $colorName, $colorTitle in $color-titles {
  --color-opacity: 1;
  $color-tmp: map-get($colors, $colorTitle);
  $color: hsla(hue($color-tmp), saturation($color-tmp), lightness($color-tmp), 
    var(--color-opacity));

  $color-gradients: map.set($color-gradients, $colorTitle,
  linear-gradient(
    $primaryDeg,
    $color,
    hsl(var(--#{$colorTitle}-hsl-color) / .5)
  ));
}