@use 'sass:map';

@use 'hsl-colors' as *;

$colors: ();

:root {
  @each $nameColor, $hsl-color in $hsl-colors {
    --color-opacity: 1;
    $color: hsl($hsl-color);

    $colors: map.set($colors, $nameColor, hsla(hue($color),lightness($color), saturation
    ($color), var(--color-opacity)));
  }
}